<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/dist/output.css" />
  </head>
  <body class="bg-black font-['Inter'] text-neutral50">
    <header>
      <section class="inline-flex flex-col items-end justify-center gap-2">
        <img
          src="/public/images/image-17.png"
          alt="banner"
          class="w-screen h-h02 flex-shrink-0"
        />
        <img
          src="/public/images/user-avatar.svg"
          alt="profileIcon"
          class="absolute top-32 left-5 w-12 h-12 rounded-full border-2 border-solid border-neutral1000"
        />
        <a href="/src/pages/screen09.html">
          <button
            class="w-28 h-7 px-5 py-2 rounded-3xl shadow border whitespace-nowrap bg-neutral1000 border-neutral50 border-opacity-25 backdrop-blur-2xl inline-flex items-center justify-center text-neutral50 text-sm font-bold"
          >
            Edit profile
          </button>
        </a>
      </section>
      <section class="flex-col flex-end items-start gap-4 px-5 pb-3 pt-0">
        <div>
          <h1 class="text-neutral50 text-xl font-bold">aarushe reddy</h1>
          <p class="text-neutral500 text-base font-normal font-['Inter']">
            @aarushe_reddy
          </p>
        </div>
        <p class="w-96 text-stone-50 text-base font-normal font-['Inter']">
          Digital Goodies Team - Web & Mobile UI/UX development; Graphics;
          Illustrations
        </p>
        <div class="w-80 h-5 justify-start items-start gap-5 inline-flex">
          <div class="justify-start items-center gap-1 flex">
            <img src="/public/images/link-icon.svg" alt="link-icon" />
            <a href="#" class="text-sky-500 text-base">pixsellz.io</a>
          </div>
          <div class="justify-start items-center gap-1 flex">
            <img src="/public/images/calendar-sv.svg" alt="link-icon" />
            <p class="text-neutral-500 text-base font-normal font-['Inter']">
              Joined September 2018
            </p>
          </div>
        </div>
        <div class="w-56 h-5 justify-start items-end gap-5 inline-flex">
          <div>
            <span class="text-neutral50">217</span><span> </span
            ><span class="text-neutral-500 text-base font-normal font-['Inter']"
              >Following</span
            >
          </div>
          <div>
            <span class="text-neutral50">118</span><span> </span
            ><span class="text-neutral-500 text-base font-normal font-['Inter']"
              >Followers</span
            >
          </div>
        </div>
      </section>
    </header>
    <main>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">Don't wish for it, work for it.</p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">
            i've seen people absolutely despise auto layout in figma but i think
            it's a lifesaver-  1. tidies everything nice and compact  2. makes
            responsive design effortless  3. no manual adjustments post any
            tweaks 4. saves a tonnn of time  sorry, but will stay an auto layout
            maxi all life.
          </p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">
            Writing gets easier after the first sentence.  Lifting gets easier
            after the first set.  People think and think and think until they
            finally decide to act. Their attention shifts from internal to
            external, and the difficulty they created in their mind vanishes.
          </p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <a href="/src/pages/screen07.html">
      <button
        class="fixed right-5 transform -translate-x bottom-14 w-16 h-16 p-4 bg-twitterBluedefault rounded-full shadow justify-start items-start gap-2.5 inline-flex"
      >
        <img src="/public/images/content-add.svg" alt="plus-icon" />
      </button>
    </a>
  </body>
</html>
