<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black text-white">
    <header
      class="flex justify-start px-4 py-3 border-solid border-b-2 border-b-neutral700"
    >
      <a href="/src/pages/screen08.html">
        <img src="/public/images/user-avatar.svg" alt="user-icon" />
      </a>
      <img
        src="/public/images/100x-frame.svg"
        alt="100x-icon"
        class="mx-auto w-14"
      />
    </header>
    <nav>
      <div
        class="w-screen h-fit pt-5 pb-3 border-b border-neutral700 justify-around items-center inline-flex"
      >
        <button class="">
          <input
            id="for-you"
            class="peer/for-you appearance-none"
            type="radio"
            name="status"
            checked
          />
          <label
            for="for-you"
            class="peer-checked/for-you:text-neutral-500 peer-checked/for-you:border-twitterBlue peer-checked/for-you:border-b-2 text-neutral50 pb-3 whitespace-nowrap text-center text-base font-px-secondary font-medium"
            >For you</label
          >
        </button>
        <button class="">
          <input
            id="following"
            class="peer/following appearance-none"
            type="radio"
            name="status"
          />
          <label
            for="following"
            class="peer-checked/following:text-neutral-500 peer-checked/following:border-twitterBlue peer-checked/following:border-b-2 text-neutral50 pb-3 whitespace-nowrap text-center font-px-secondary text-base font-medium"
            >Following</label
          >
        </button>
      </div>
    </nav>
    <main>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">Don't wish for it, work for it.</p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">
            i've seen people absolutely despise auto layout in figma but i think
            it's a lifesaver-  1. tidies everything nice and compact  2. makes
            responsive design effortless  3. no manual adjustments post any
            tweaks 4. saves a tonnn of time  sorry, but will stay an auto layout
            maxi all life.
          </p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="w-full h-full px-4 py-2 border-b border-neutral700 justify-start items-start gap-4 inline-flex"
      >
        <img
          class="w-12 h-12 relative rounded-full"
          src="/public/images/user-avatar.svg"
        />
        <div
          class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex"
        >
          <div
            class="self-stretch justify-start items-center gap-px inline-flex"
          >
            <p class="text-base font-medium">
              Name
              <span class="text-neutral500 text-base font-normal inline"
                >@handle • 10h</span
              >
            </p>
          </div>
          <!-- <div
          class="self-stretch"
        > -->
          <p class="self-stretch h-full">
            Writing gets easier after the first sentence.  Lifting gets easier
            after the first set.  People think and think and think until they
            finally decide to act.
          </p>
          <!-- </div> -->
          <div class="self-stretch justify-between items-center inline-flex">
            <div class="flex">
              <img src="/public/images/comment-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/retweet-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/heart-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">11</p>
            </div>
            <div class="flex">
              <img src="/public/images/reach-sv.svg" alt="comment-icon" />
              <p class="text-neutral500 px-1">99.6k</p>
            </div>
            <div class="flex">
              <img
                src="/public/images/share-sv.svg"
                alt="share-icon"
                class="text-neutral700"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <div
      class="fixed left-1/2 transform -translate-x-1/2 bottom-14 w-52 h-10 px-8 py-3 text-center bg-searchbarFill whitespace-nowrap rounded-full"
    >
      Copied to clipboard.
    </div>
    <a href="/src/pages/screen07.html">
      <button
        class="fixed right-8 transform -translate-x bottom-14 w-16 h-16 p-4 bg-twitterBluedefault rounded-full shadow justify-start items-start gap-2.5 inline-flex"
      >
        <img src="/public/images/content-add.svg" alt="plus-icon" />
      </button>
    </a>
    <section>
      <div class="flex gap-10 w-full h-6 py-5 px-6 justify-center items-center">
        <button class="">
          <img
            src="/public/images/home-default.svg"
            alt="profile-icon"
            srcset=""
          />
        </button>
        <button class="">
          <img
            src="/public/images/group-default.svg"
            alt="profile-icon"
            srcset=""
          />
        </button>
      </div>
    </section>
  </body>
</html>
