<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link rel="stylesheet" href="/dist/output.css" />
  </head>
  <body class="text-neutral50 bg-white font-['Inter']">
    <section
      class="w-full h-screen md:w-4/12 md:h-3/5 md:rounded-2xl bg-neutral1000 md:flex flex-col inline-flex items-center justify-between"
    >
      <div
        class="self-stretch px-3.5 py-2.5 md:rounded-2xl flex-col justify-start items-start gap-3 inline-flex"
      >
        <div class="flex-col justify-center items-start gap-3 flex">
          <div
            class="self-stretch px-4 py-3 justify-start items-center gap-5 inline-flex"
          >
            <button>
              <img src="/public/images/signup-x.svg" alt="" srcset="" />
            </button>
            <div class="text-neutral50 text-base font-bold">Step 1 of 4</div>
          </div>
        </div>
        <section class="self-stretch flex-col justify-start">
          <p class="text-stone-50 text-2xl font-bold pb-5">
            Create your account
          </p>
          <div class="flex-col justify-center items-center gap-8">
            <section
              action=""
              class="inline-flex w-full flex-col gap-8 justify-between"
            >
              <div class="relative">
                <div
                  class="flex border-2 border-solid rounded-md border-neutral500 appearance-none group focus-within:border-blue-500"
                >
                  <input
                    type="text"
                    id="Name"
                    class="block px-3 pb-2.5 pt-4 w-full text-sm outline-none text-gray-900 bg-black rounded-md dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer/name"
                    placeholder=" "
                  />
                  <label
                    for="Name"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-black px-2 peer-focus/name:px-2 peer-focus/name:text-blue-600 peer-focus/name:dark:text-blue-500 peer-placeholder-shown/name:scale-100 peer-placeholder-shown/name:-translate-y-1/2 peer-placeholder-shown/name:top-1/2 peer-focus/name:top-2 peer-focus/name:scale-75 peer-focus/name:-translate-y-4 left-1"
                    >Name</label
                  >
                  <img
                    src="/public/images/tick-circle.svg"
                    alt="success"
                    class="px-2"
                  />
                </div>
              </div>
              <div class="relative">
                <div
                  class="flex border-2 border-solid rounded-md border-neutral500 appearance-none group focus-within:border-blue-500"
                >
                  <input
                    type="email"
                    id="email"
                    class="block px-3 pb-2.5 pt-4 w-full text-sm outline-none text-gray-900 bg-black rounded-md dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer/email"
                    placeholder=" "
                  />
                  <label
                    for="email"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-black px-2 peer-focus/email:px-2 peer-focus/email:text-blue-600 peer-focus/email:dark:text-blue-500 peer-placeholder-shown/email:scale-100 peer-placeholder-shown/email:-translate-y-1/2 peer-placeholder-shown/email:top-1/2 peer-focus/email:top-2 peer-focus/email:scale-75 peer-focus/email:-translate-y-4 left-1"
                    >Email</label
                  >
                  <img
                    src="/public/images/tick-circle.svg"
                    alt="success"
                    class="px-2"
                  />
                </div>
              </div>
              <div class="relative">
                <div
                  class="flex border-2 border-solid rounded-md border-neutral500 appearance-none group focus-within:border-blue-500"
                >
                  <input
                    type="email"
                    id="email"
                    class="block px-3 pb-2.5 pt-4 w-full text-sm outline-none text-gray-900 bg-black rounded-md dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer/email"
                    placeholder=" "
                  />
                  <label
                    for="email"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-black px-2 peer-focus/email:px-2 peer-focus/email:text-blue-600 peer-focus/email:dark:text-blue-500 peer-placeholder-shown/email:scale-100 peer-placeholder-shown/email:-translate-y-1/2 peer-placeholder-shown/email:top-1/2 peer-focus/email:top-2 peer-focus/email:scale-75 peer-focus/email:-translate-y-4 left-1"
                    >Date of Birth</label
                  >
                  <img
                    src="/public/images/tick-circle.svg"
                    alt="success"
                    class="px-2"
                  />
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
      <section class="flex-col justify-end items-start pb-5">
        <div class="m-auto">
          <a href="../pages/screen04.html">

            <button
            class="bg-twitterBlue text-center w-80 px-6 py-3 rounded-3xl gap-2.5 shadow-btnShadow backdrop-blur-2xl hover:bg-blue-600 disabled:opacity-50"
            >
            post
          </button>
        </a>
        </div>
      </section>
    </section>
  </body>
</html>
