*,
*::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 3rem 1rem black rgba(0, 0, 0, 0.2);
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Souce Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #5fd068;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75rem rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(123, 153, 88, 0.15);

  /* margin: 10px;
  border: 0.2rem black solid; */
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

@media (max-width: 600px) {
  progress {
    width: 90vw;
  }

  section {
    width: 100vw;
  }
}

/* semantics styling */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em;
}

header {
  text-align: center;
}

#role {
  font-size: var(--ff-secondary);
}

em {
  color: var(--clr-accent);
  font-style: normal;
}

p {
  text-align: justify;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: var(--fw-reg);
}

.title {
  font-size: var(--fs-h3);
  padding-bottom: 0.4rem;
}

span {
  font-weight: var(--fw-bold);
}

/* progress bar */
.progress {
  color: var(--clr-accent);
  display: block;
}

progress {
  border: 1px solid #303030;
  padding-right: 10px;
  background-color: #303030;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

progress::after {
  content: attr(value) "%";
  display: inline;
  height: 100%;
  /* width: attr(value) %; */
  transform: translateY(-50%);
  /* background-color: #ff5733; */
}

progress::-webkit-progress-value {
  background-color: var(--clr-accent); /* Pink fill color */
  border-radius: 11px;
}
progress::-webkit-progress-bar {
  background-color: #303030;
  border-radius: 11px;
}

/* layout */

.cointainer {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex-direction: column;
}

main {
  margin: 1rem;
  width: 60vw;
}

.school-medium {
  border-left: 0.4rem black solid;
}

.school-medium span {
  font-size: var(--fs-h3);
}
article {
  padding: 0.5rem 1rem;
  margin: 1rem;
}

#contact-cointainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  /* box-shadow: var(--bs); */
}

#btn {
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 0.6rem;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: var(--bs);
}

footer {
  padding: 0.4rem;
  text-align: center;
  font-size: var(--fs-body);
  background: #000;
  color: #fff;
}
